html,
body {
  min-height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.header {
  width: 100%; }

.ticker-panel {
  background-color: #aaa;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 100%; }

.ticker-item {
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  height: 64px;
  width: 100%;
  cursor: pointer;
  margin: 3px 0px;
  background-color: #31708f;
  color: #fff; }
