@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="en-gb">
<head>
    <link href="~/sitefiles/vendor/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/sitefiles/main.css" rel="stylesheet" />
    <script src="~/sitefiles/vendor/scripts/jquery-2.1.4.min.js"></script>
    <script src="~/sitefiles/vendor/scripts/bootstrap.min.js"></script>
    <script src="~/sitefiles/main.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            @Html.Partial("_tickerPanel")
        </div>
        <div class="col-sm-12 col-md-9">
            <h3>Center Panel</h3>
        </div>
    </div>
</body>
</html>