@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;    
}
<!DOCTYPE HTML>
<html lang="en-gb">
<head>
    <title>Some title</title>
</head>
<body>
    <header class="js-header header">

    </header>
    <div class="js-body body">
        @RenderBody()
    </div>
    <footer class="js-footer footer">

    </footer>
</body>
</html>