@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;    
}
<!DOCTYPE HTML>
<html lang="en-gb">
<head>
    <title>Some title</title>
    <link href="~/sitefiles/vendor/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/sitefiles/main.css" rel="stylesheet" />
    <script src="~/sitefiles/vendor/scripts/jquery-2.1.4.min.js"></script>
    <script src="~/sitefiles/vendor/scripts/bootstrap.min.js"></script>
    <script src="~/sitefiles/main.js"></script>
</head>
<body>
    <header class="js-header header">

    </header>
    <div class="js-body body">
        @RenderBody()
    </div>
    <footer class="js-footer footer">

    </footer>
    <!--inject:js -->
    <script src="../src/scripts/ng/modules/ngMain.js"></script>
    <script src="../src/scripts/ng/services/httpService.js"></script>
    <script src="../src/scripts/ng/directives/ngTickerPanel.js"></script>
    <script src="../src/scripts/ng/directives/ngChart.js"></script>
    <script src="../src/scripts/ng/controllers/tickerController.js"></script>
    <script src="../src/scripts/ng/controllers/chartController.js"></script>
    <!-- endinject-->
</body>
</html>